<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <appSettings>

    <!--LocalDb Begin-->
    <!--
    <add key="Banco:fws:Tipo" value="qQjOywPmjjc="/>
    <add key="Banco:fws:Instancia" value="0u+BpZlgOg59n/nqEFdUgg=="/>
    <add key="Banco:fws:Attached" value="LXlzNYyLeIZUIN574T6/1L09q+ypCyPnVvO3g9jFNYY="/>
    <add key="Banco:fws:Banco" value="vT2r7KkLI+cj1IwrWyVScA=="/>
    <add key="Banco:fws:Usuario" value="AjyIfhCo6Ag="/>
    <add key="Banco:fws:Senha" value="AjyIfhCo6Ag="/>
    -->
    <!--LocalDb End-->

    <!--SQL Begin-->
    <!--<add key="Banco:fws:Tipo" value="wJCDdcgSeN4="/>
    <add key="Banco:fws:Instancia" value="ypWre/NkKxVru7ktEgSG4Q=="/>
    <add key="Banco:fws:Banco" value="vT2r7KkLI+cj1IwrWyVScA=="/>
    <add key="Banco:fws:Usuario" value="AjyIfhCo6Ag="/>
    <add key="Banco:fws:Senha" value="AjyIfhCo6Ag="/>-->
    <!--SQL End-->
  </appSettings>
  
</configuration>