<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Banco:Fws:Instancia" value="gK9KBvqKH0w="/>
    <add key="Banco:Fws:Banco" value="gK9KBvqKH0w="/>
    <add key="Banco:Fws:Usuario" value="SyCTTcw27X1yD4Mt9azg6A=="/>
    <add key="Banco:Fws:Senha" value="fn1pWnRVmDk="/>
  </appSettings>
</configuration>