<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="logSection" type="FWS.Log.logSection, FWS.Log" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <connectionStrings>
    <!--<add name="Fws_Desenv" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\Fws_Desenv.mdf;Initial Catalog=Fws_Desenv;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="Log" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\Log.mdf;Initial Catalog=Log;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="FWSBusted" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\FWSBusted.mdf;Initial Catalog=FWSBusted;Integrated Security=True" providerName="System.Data.SqlClient" />-->    
    <!--<add name="Log" connectionString="Asynchronous Processing=true;Pooling=false;Data Source=HOMEFW\PERSONA;Initial Catalog=FWS.ApplicationLog; User ID=sa;password=fatima;"/>-->
  </connectionStrings>
  
  <appSettings>
    <!--LocalDb Begin-->
    <add key="Banco:fws:Tipo" value="NftZVZGBybw="/>
    <add key="Banco:fws:Instancia" value="ZlTnuxBHAajK6QE75A5JNQ=="/>
    <add key="Banco:fws:Attached" value="Lp/+714IGCZ4WCm++kXvJg=="/>
    <add key="Banco:fws:Banco" value="Lp/+714IGCZEudC4N9d69A=="/>
    <add key="Banco:fws:Usuario" value="plEwebtUAMs="/>
    <add key="Banco:fws:Senha" value="plEwebtUAMs="/>
    <!--LocalDb End-->

    <!--SQL Begin-->
    <!--<add key="Banco:fws:Tipo" value="1gFyNz8QoE4="/>
    <add key="Banco:fws:Instancia" value="otUTiWgWCYPVbyS5d3AMDA=="/>
    <add key="Banco:fws:Banco" value="Lp/+714IGCZEudC4N9d69A=="/>
    <add key="Banco:fws:Usuario" value="plEwebtUAMs="/>
    <add key="Banco:fws:Senha" value="plEwebtUAMs="/>-->
    <!--SQL End-->
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  <logSection>
    <logType Provider="All"/>
    <connectionString Name="Log"/>
    <textFile Path="D:\PROJETOS_GIT\FWS\Log" Name="NoodlesLog" MaxByte="15"/>
  </logSection>  
  
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>