<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Arquivo de Log-->
    <add name="FWSBusted" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\FWSBusted.mdf;Initial Catalog=FWSBusted;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--Membership-->
    <add name="FWSCrew" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\FWSCrew.mdf;Initial Catalog=FWSCrew;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--Tripulação-->
    <add name="FWSMist" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\FWSMist.mdf;Initial Catalog=FWSMist;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--Financeira-->
    <add name="FWSVolcano" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\FWSVolcano.mdf;Initial Catalog=FWSVolcano;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--A Definir-->
    <add name="FWSThunderstorm" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\FWSThunderstorm.mdf;Initial Catalog=FWSThunderstorm;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--A Definir-->
    <add name="FWSBlizzard" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\FWSBlizzard.mdf;Initial Catalog=FWSBlizzard;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>